site_name: Blog Base Two
site_url: https://trslater.ca/blog-base-two/
repo_url: https://github.com/trslater/blog-base-two/
repo_name: trslater/blog-base-two
copyright: >
  &copy; 2023 Tristan Slater
  | <a href="#__consent">Change Cookie Settings</a>

nav:
  - Posts: index.md
  - Tags: tags.md

theme:
  name: material
  custom_dir: overrides
  palette:
    scheme: slate
    primary: red
    accent: teal
  features:
    - navigation.sections
    - navigation.top
    - navigation.footer

plugins:
  - blog:
      blog_dir: .
  - search
  - tags:
      tags_file: tags.md

markdown_extensions:
  - admonition
  - pymdownx.arithmatex:
      generic: true

hooks:
  - hooks.py

extra:
  analytics:
    provider: google
    property: G-421LLN8ZLH
  consent:
    title: Cookies
    description: >
      This site uses cookies to track traffic via Google Analytics
      as for GitHub integration.
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/trslater/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/tristanslater/

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
