site_name: Blog Base Two
repo_url: https://github.com/trslater/blog-base-two
repo_name: trslater/blog-base-two

nav:
  - Posts: blog/index.md

theme:
  name: material
  palette:
    scheme: slate
    primary: red
  features:
    - navigation.tabs
    - navigation.footer

plugins:
  - blog
  - search

markdown_extensions:
  - admonition
  - pymdownx.arithmatex:
      generic: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/trslater
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/tristanslater
  analytics:
    provider: google
    property: G-421LLN8ZLH

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
