site_name: Blog Base Two
repo_url: https://github.com/trslater/blog-base-two

theme:
  name: material
  palette:
    scheme: slate
    primary: red
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.footer

plugins:
  - mkdocs-jupyter:
      remove_tag_config:
        remove_input_tags:
          - hide_code
  - search

markdown_extensions:
  - admonition
