site_name: Blog Base Two

theme:
  name: material
  palette:
    scheme: slate
    primary: cyan
  features:
    - navigation.tabs

plugins:
  - mkdocs-jupyter
  - search
  # - tags:
  #     tags_file: tags.md

markdown_extensions:
  - admonition
